<ng-container *ngIf="user && user.team !== team">
  <div class="unauthorised-login">
    <div>Warning this login is unauthorised</div>
    <div>You are hacking into the {{ team }} teams computer</div>
    <div>You will be arrested if you do not logout within {{ unauthorisedTimer }} seconds</div>
  </div>
</ng-container>

<ng-container *ngIf="user && user.team === team">
  <div class="surveillance-button-wrapper">
    <button class="btn btn-light surveillance-button" (click)="toggleSurveillance()">Surveillance <span>{{ surveillance ? 'Off' : 'On' }}</span></button>
  </div>
</ng-container>

<ng-container *ngIf="user">
  <div class="photo-wrapper">
    <img [src]="'/assets/photos/' + user.name + '.png'">
  </div>
</ng-container>

<div class="my-main-app" [class.my-blur]="blur">

  <ng-container *ngIf="!team">

    <div class="sound-test">
      Login Sound Test
      <div>
        <input #sounder spellcheck="false" (keyup.enter)="playSound(sounder.value)">
        <button class="btn btn-light btn-sm" (click)="playSound(sounder.value)">Play</button>
      </div>
    </div>

    <div class="team-selector">
      <div class="which-team-will-be-using">Which team will be using this computer?</div>

      <button class="btn btn-red btn-lg btn-color" (click)="setTeam('red')">Red</button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-green btn-lg btn-color" (click)="setTeam('green')">Green</button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button class="btn btn-blue btn-lg btn-color" (click)="setTeam('blue')">Blue</button>

      <div class="clue-tests">
        <div class="clue-tests-heading">Clue Tests</div>
        <button class="btn btn-light btn-lg" (click)="getClueTest(1)">Level 1</button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-light btn-lg" (click)="getClueTest(2)">Level 2</button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-light btn-lg" (click)="getClueTest(3)">Level 3</button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-light btn-lg" (click)="clearClueTest()">Clear</button>
      </div>

      <div class="clue-test-averages">
        <div>
          <ng-container *ngIf="clueTestCount(1) > 0">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Level 1 = {{ clueTestPercentUseful(1) | number: '1.2-2' }}% ({{ clueTestUsefulCount(1) }}/{{ clueTestCount(1) }})</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
          <ng-container *ngIf="clueTestCount(2) > 0">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Level 2 = {{ clueTestPercentUseful(2) | number: '1.2-2' }}% ({{ clueTestUsefulCount(2) }}/{{ clueTestCount(2) }})</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
          <ng-container *ngIf="clueTestCount(3) > 0">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Level 3 = {{ clueTestPercentUseful(3) | number: '1.2-2' }}% ({{ clueTestUsefulCount(3) }}/{{ clueTestCount(3) }})</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
        </div>
      </div>

      <ng-container *ngFor="let clueTest of clueTests">
        <div>
          <div class="clue-test" [ngClass]="'clue-level-' + clueTest.level">{{ clueTest.clue }} <span class="clue-test-matches">{{ clueTest.matches }}</span>
          </div>
        </div>
      </ng-container>
    </div>

  </ng-container>

  <ng-container *ngIf="team">

    <ng-container *ngIf="!user">

      <div class="funny-or-serious invisible">
        <div class="input-group mb-3">
          <input type="checkbox" [ngModel]="isSian" (ngModelChange)="toggleLook()">
          <span class="toggle-look" (click)="toggleLook()">Toggle look</span>
        </div>
      </div>

      <div [ngClass]="isSian ? 'funny' : 'serious'">

        <div class="team-text" [style.color]="team">{{ team | titlecase }} Team HQ</div>

        <form class="login-form" [formGroup]="loginForm">

          <div class="login-text">
            <img *ngIf="isSian" src="/assets/sian-ap.gif">
            <img *ngIf="!isSian" src="/assets/dan-ap.png">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" spellcheck="false" formControlName="username">
          </div>

          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" spellcheck="false" formControlName="password">
          </div>

          <button *ngIf="isSian" type="submit" class="btn btn-warning" [disabled]="loginForm.invalid" (click)="login()">ENTER</button>
          <button *ngIf="!isSian" type="submit" class="btn btn-light" [disabled]="loginForm.invalid" (click)="login()">Login</button>

          <div *ngIf="failedLoginCount > 0" class="failed-login-count">
            <div>You have failed login {{ failedLoginCount }} times</div>
            <div *ngIf="failedLoginCount === 2" class="badge">If you fail to login again you will be arrested for a security breach</div>
          </div>

        </form>
      </div>

    </ng-container>

    <ng-container *ngIf="user">

      <div class="logged-in" [ngClass]="isSian ? 'funny' : 'serious'">
        <div class="user-card" [style.backgroundColor]="user.team">
          <div class="smaller">Agent ID = {{ user.agentId }}=</div>
          <div class="smaller">Dept ID = {{ user.deptId.replace('-', ':') }}</div>
          <div>{{ user.career | titlecase }} {{ user.displayName }}</div>
          <div class="smaller">{{ user.team | titlecase }} Team</div>
        </div>

        <ng-container *ngIf="!surveillance">
          <div class="enter-code">
            Enter a 4 digit code
            <div class="enter-code-input">
              <div class="input-group mt-3">
                <input type="text" pattern="[0-9]{4}" maxlength="4" class="form-control" [(ngModel)]="code" placeholder="4 digit code"
                       (keyup.enter)="submitCode()">
                <div class="input-group-append">
                  <span (click)="submitCode()" class="input-group-text submit-button">Submit</span>
                </div>
              </div>
            </div>
          </div>

          <div [class.invisible]="!clue" class="clue">
            <div class="clue-inner" [class.arrest]="clue?.includes('ARREST')" [class.warn]="clue === 'Invalid code'">
              <span>&nbsp;&nbsp;&nbsp;{{ clue || 'empty' }}&nbsp;&nbsp;&nbsp;</span>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="user.career === 'forensics'">

          <ng-container *ngIf="surveillance">
            <ng-container *ngTemplateOutlet="surveillanceTemplate"></ng-container>
          </ng-container>

          <ng-container *ngIf="!surveillance">
            <div class="enter-forensics">
              Describe the item you found and wish to put under the microscope <span class="example">e.g. cup, balloon, giraffe</span>
            </div>
            <div class="enter-forensics-input">
              <div class="input-group mt-3">
                <input type="text" class="form-control" [(ngModel)]="forensics" placeholder="Specimen" (keyup.enter)="submitForensics()">
                <div class="input-group-append">
                  <span (click)="submitForensics()" class="input-group-text submit-button">Submit</span>
                </div>
              </div>
            </div>

            <div [class.invisible]="!forensicsClue" class="forensics-clue">
              <div class="forensics-clue-inner" [class.arrest]="forensicsClue?.includes('ARREST')"
                   [class.warn]="forensicsClue?.startsWith('Could not extract')">
                <span>&nbsp;&nbsp;&nbsp;{{ forensicsClue }}&nbsp;&nbsp;&nbsp;</span>
              </div>
            </div>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="user.career === 'analyst'">

          <ng-container *ngIf="surveillance">
            <ng-container *ngTemplateOutlet="surveillanceTemplate"></ng-container>
          </ng-container>

          <ng-container *ngIf="!surveillance">

            <div class="video-stuff">
              <div class="grid">
                <ng-container *ngFor="let video of videos">
                  <div>
                    <div>
                      <span class="video-name" [class.locked]="video.locked">{{ video.name }}</span>
                      <ng-container *ngIf="video.locked">
                        <div class="padlock"><i class="fa fa-lock" aria-hidden="true"></i></div>
                      </ng-container>
                    </div>
                    <ng-container *ngIf="video.locked">
                      <div class="video-overlay"></div>
                      <!-- 560, 315 -->
                      <div class="iframe-wrapper locked">
                        <iframe width="420" height="236" [src]="video.url | safe" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!video.locked">
                      <div class="iframe-wrapper">
                        <iframe width="420" height="236" [src]="video.url | safe" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>

        </ng-container>

        <ng-container *ngIf="user.career === 'interrogator'">

          <ng-container *ngIf="surveillance">
            <ng-container *ngTemplateOutlet="surveillanceTemplate"></ng-container>
          </ng-container>

          <ng-container *ngIf="!surveillance">

            <div class="logs">
              <div class="logs-info">
                <div>Details of the last three 4 digit codes used on this computer will appear here</div>
                <div>If these prove that other teams have accessed your computer, report it to officials so that appropriate arrests can be made</div>
              </div>
              <ng-container *ngIf="this.logs.length">

                <table class="table table-dark table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">User</th>
                    <th scope="col">Team</th>
                    <th scope="col">Alarm</th>
                    <th scope="col">Clue</th>
                    <th scope="col">
                      <span class="invisible">Control</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                  <ng-container *ngFor="let log of logs; index as idx">

                    <ng-container *ngIf="idx < 3">

                      <tr>
                        <th scope="row">{{ log.code }}</th>
                        <td [style.color]="log.anon ? '#AAA' : log.team">
                          <ng-container *ngIf="!log.anon">{{ log.user }}</ng-container>
                          <ng-container *ngIf="log.anon">anon</ng-container>
                        </td>
                        <td [style.color]="log.anon ? '#AAA' : log.team">
                          <ng-container *ngIf="!log.anon">{{ log.team | titlecase }}</ng-container>
                          <ng-container *ngIf="log.anon">anon</ng-container>
                        </td>
                        <td [style.color]="log.alarm ? '#008800' : '#880000'">
                          <i *ngIf="log.alarm" class="fa fa-check" aria-hidden="true"></i>
                          <i *ngIf="!log.alarm" class="fa fa-times" aria-hidden="true"></i>
                        </td>
                        <td [style.color]="log.clue ? '#008800' : '#880000'">
                          <i *ngIf="log.clue" class="fa fa-check" aria-hidden="true"></i>
                          <i *ngIf="!log.clue" class="fa fa-times" aria-hidden="true"></i>
                        </td>
                        <td>
                          <div class="anonymous-button-wrapper">
                            <button class="btn btn-light btn-sm anonymous-button" [disabled]="log.anon" (click)="makeAnonymous(idx)">
                              <span *ngIf="!log.anon">Hide User</span>
                              <span *ngIf="log.anon">Anon</span>
                            </button>
                          </div>
                        </td>
                      </tr>

                    </ng-container>
                  </ng-container>


                  </tbody>
                </table>

              </ng-container>
            </div>
          </ng-container>
        </ng-container>

      </div>

      <div class="clear-both"></div>

    </ng-container>

  </ng-container>

</div>

<div *ngIf="blur" class="blur-penalty">
  <div>interference ends in {{ blurCountDown }} seconds</div>
  <div class="interference-small">you can still use your computer</div>
</div>

<div *ngIf="showArrestFlash" class="alarm-full-screen">
  <div [class.invisible]="!arrestFlash">
    <span *ngIf="arrestFlashDisplayName">{{ arrestFlashDisplayName | uppercase }} IS UNDER ARREST</span>
    <span *ngIf="!arrestFlashDisplayName">YOU ARE UNDER ARREST</span>
  </div>
  <div [class.invisible]="!arrestFlashMessage">
    <span class="arrest-small">{{ arrestFlashMessage }}</span>
  </div>
</div>

<div class="smash-error">
  <ng-container *ngIf="smashObj?.message">
    <div class="animate__animated animate__fadeIn">
      <div class="wrench"><i class="fa fa-wrench" aria-hidden="true"></i></div>
      <div>{{ smashObj.message }}</div>
      <div class="engineer">An engineer is on the way to fix it and will arrive in {{ DEFAULT_SMASH_TIME - smashSecs }} seconds</div>
    </div>
  </ng-container>
</div>

<div *ngIf="user" class="team-code" [style.color]="team">{{ team }} Team Code is {{ teamCode }}</div>

<div *ngIf="user" class="logout-button">
  <button *ngIf="isSian" type="button" class="btn btn-warning" (click)="logout()">Logout</button>
  <button *ngIf="!isSian" type="button" class="btn btn-light" (click)="logout()">Logout</button>
</div>

<ng-template #surveillanceTemplate>

  <div class="surv-intro-wrapper">
    <div class="surv-intro">We need more information to help us solve clues</div>
    <div class="surv-intro">We will watch our suspects closely to help us find which fruit each person has</div>
    <div class="surv-intro">4 have love, 3 have joy and 4 have peace</div>
    <div class="surv-intro">Note that surveillance on this computer can only be accessed by your team</div>
  </div>

  <div class="surv-wrapper">
    <div class="row">

      <div class="col-8">
        <div class="surv-grid">
          <div *ngFor="let user of users; index as i" class="user" [class.active]="i === watchingIdx">
            <div class="header" [style.backgroundColor]="user.team" (click)="watching(i)">
              <div>{{ user.displayName }}</div>
            </div>
            <div class="body" (click)="watching(i)">
              <ng-container *ngIf="!survChallenges[i].complete">
                <ng-container *ngIf="i !== watchingIdx">
                  <div class="watch-button">
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                    <span class="eye-gap"></span>
                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                  </div>
                </ng-container>
                <ng-container *ngIf="i === watchingIdx">
                  <div class="watch-button" (click)="watching(i)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="eye-gap"></span>
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="survChallenges[i].complete">
                <div class="fruit-for-me">
                  fruit is {{ user.fruit }}
                </div>
              </ng-container>
              <!--              <ng-container *ngIf="!survChallenges[i].complete">-->
              <!--                <ng-container *ngIf="survChallenges[i].type === 'click'">-->
              <!--                  <button class="btn btn-light btn-sm btn-clicker" (click)="challengeClick(i)">click me {{ survChallenges[i].count }} times</button>-->
              <!--                </ng-container>-->
              <!--                <ng-container *ngIf="survChallenges[i].type === 'quiz'">-->
              <!--                  <span>{{ survChallenges[i].question }}</span>-->
              <!--                  <input [ngModel]="answers[i]" (ngModelChange)="challengeQuiz($event, i)">-->
              <!--                </ng-container>-->
              <!--              </ng-container>-->
              <!--              <ng-container *ngIf="survChallenges[i].complete">-->
              <!--                <div class="fruity">fruit is {{ user.fruit }}</div>-->
              <!--              </ng-container>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="annoying">
          <div class="image-surv-wrapper">
            <ng-container *ngIf="watchingIdx != null">
              <img [src]="'/assets/photos/' + users[watchingIdx].name + '.png'">
            </ng-container>
          </div>
          <div class="surv-info">
            <ng-container *ngIf="watchingIdx == null">
              <div class="surveillance-target">
                Who will your team place under surveillance?
                <div class="click-target">
                  Click your target
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="watchingIdx != null">
              <div class="surveillance-header" [style.backgroundColor]="users[watchingIdx].team">
                {{ users[watchingIdx].displayName }}
              </div>
              <div class="surveillance-body">
                <ng-container [ngSwitch]="survChallenges[watchingIdx].type">
                  <ng-container *ngSwitchCase="'click'">
                    <div>You keep a close eye on <strong>{{ users[watchingIdx].displayName }}</strong> but they notice your activity.</div>
                    <div class="mt-2">They approach you to talk it over. They come across as rather pleasant and say they will tell you anything if you press
                      the right buttons.
                    </div>
                    <ng-container *ngIf="survChallenges[watchingIdx].count > 0">
                      <div class="clicker-cool-button" [style.backgroundColor]="users[watchingIdx].team" (click)="challengeClick(watchingIdx)">
                        {{ survChallenges[watchingIdx].count }}
                      </div>
                    </ng-container>
                    <ng-container *ngIf="survChallenges[watchingIdx].count <= 0">
                      <div class="done-did">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'arrest'">
                    <div>It appears that <strong>{{ users[watchingIdx].displayName }}</strong> is currently in prison.</div>
                    <div class="mt-2">
                      The only way you can monitor them to get the information you need is to get arrested. Will you take one for the team?
                    </div>
                    <ng-container *ngIf="!survChallenges[watchingIdx].complete">
                      <div class="arrest-me-wrapper">
                        <button class="btn btn-light arrest-me" [style.backgroundColor]="users[watchingIdx].team" (click)="arrestMe()">Arrest Me</button>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="survChallenges[watchingIdx].complete">
                      <div class="done-did">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'sandwich'">
                    <div>What a blessing! <strong>{{ users[watchingIdx].displayName }}</strong> asked you over for a sandwich. This will make monitoring a piece
                      of cake. One snag. They are a terrible cook. The menu looks fairly disgusting:
                    </div>
                    <div class="sandwich-wrapper">
                      <table>
                        <tr>
                          <td class="col1 th">Sandwich 1</td>
                          <td class="col2 th">Sandwich 2</td>
                          <td *ngIf="survChallenges[watchingIdx].menuOptionsCount > 2" class="col3 th">Sandwich 3</td>
                        </tr>
                        <tr>
                          <td class="col1">{{ survChallenges[watchingIdx].menu[0][0] }}</td>
                          <td class="col2">{{ survChallenges[watchingIdx].menu[1][0] }}</td>
                          <td *ngIf="survChallenges[watchingIdx].menuOptionsCount > 2" class="col3">{{ survChallenges[watchingIdx].menu[2][0] }}</td>
                        </tr>
                        <tr>
                          <td class="col1">{{ survChallenges[watchingIdx].menu[0][1] }}</td>
                          <td class="col2">{{ survChallenges[watchingIdx].menu[1][1] }}</td>
                          <td *ngIf="survChallenges[watchingIdx].menuOptionsCount > 2" class="col3">{{ survChallenges[watchingIdx].menu[2][1] }}</td>
                        </tr>
                        <tr>
                          <td class="col1">{{ survChallenges[watchingIdx].menu[0][2] }}</td>
                          <td class="col2">{{ survChallenges[watchingIdx].menu[1][2] }}</td>
                          <td *ngIf="survChallenges[watchingIdx].menuOptionsCount > 2" class="col3">{{ survChallenges[watchingIdx].menu[2][2] }}</td>
                        </tr>
                      </table>
                    </div>
                    <ng-container *ngIf="!survChallenges[watchingIdx].complete">
                      <div class="mt-3">Place your order from the menu with <strong>Guard Ian</strong>
                        <span>
                          <ng-container *ngIf="users[watchingIdx].displayName !== 'Guard Ian'">
                            <span> (a friend of {{ users[watchingIdx].displayName }})</span>
                          </ng-container>.
                        </span>
                        Once eaten you will be given a 6 digit code which you can enter here.
                      </div>
                      <div class="input-group mt-3 mb-4">
                        <input type="text" class="form-control" spellcheck="false" placeholder="6 digit code"
                               (keyup.enter)="submitSandwich()" [(ngModel)]="survChallenges[watchingIdx].code6">
                        <div class="input-group-append">
                        <span class="input-group-text sandwich-submit" [class.disabled]="!survChallenges[watchingIdx].code6"
                              (click)="submitSandwich()">Submit</span>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="survChallenges[watchingIdx].complete">
                      <div class="done-did">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchCase="'quiz'">
                    <div><strong>{{ users[watchingIdx].displayName }}</strong> is totally oblivious to your surveillance.</div>
                    <div class="mt-2">You watch their activity for some time and everything points to the same conclusion. However, there are still some
                      questions that need answers.
                    </div>
                    <ng-container *ngIf="!survChallenges[watchingIdx].complete">
                      <div class="question-counter">Question {{ survChallenges[watchingIdx].currentQuestion + 1 }}
                        of {{ survChallenges[watchingIdx].questions.length }}</div>
                      <div class="question-wrapper">{{ survChallenges[watchingIdx].questions[survChallenges[watchingIdx].currentQuestion] }}</div>
                      <div class="input-group">
                        <input class="form-control" placeholder="Answer / answers" spellcheck="false" [(ngModel)]="answers[watchingIdx]"
                               (keyup.enter)="challengeQuiz(watchingIdx)">
                        <div class="input-group-append">
                          <span class="input-group-text challenge-quiz-submit" [class.disabled]="!answers[watchingIdx]" (click)="challengeQuiz(watchingIdx)">Submit</span>
                        </div>
                      </div>
                      <div class="question-warning mt-3 mb-4">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;<span
                        class="question-warning-text">You will be arrested if you get it wrong!</span>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="survChallenges[watchingIdx].complete">
                      <div class="done-did">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    None
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
