.which-team-will-be-using {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.team-selector {
  margin-top: 100px;
  text-align: center;
}

.clue-tests {
  margin-top: 50px;
  margin-bottom: 20px;
}

.clue-tests-heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.clue-level-1 {
}

.clue-test-matches {
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
  padding: 0 7px;
  margin-left: 3px;
}

.clue-test-averages {
  border-top: 1px solid #555;
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: #000;
  text-align: center;
  width: 100%;
  z-index: 2222;
  min-height: 44px;
}

.clue-test {
  padding: 3px 10px;
  background-color: cornflowerblue;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.btn-color {
  margin-top: 20px;
  min-width: 120px;
}

.btn-red {
  background-color: red;
  color: #FFF;
}

.btn-green {
  background-color: green;
  color: #FFF;
}

.btn-blue {
  background-color: blue;
  color: #FFF;
}

.funny-or-serious {
  position: absolute;
  right: 20px;
  top: 20px;
  user-select: none;

  .toggle-look {
    position: relative;
    top: -5px;
    left: 7px;
    cursor: pointer;
  }
}

.funny {

  .login-form {
    width: 1000px;
    margin: 100px auto 100px;
    text-align: center;
  }

  .login-text {
    margin-bottom: 100px;

    img {
      width: 500px;
    }
  }

  button {
    margin-top: 50px;
    position: relative;
    left: 300px;
    font-size: 32px;
    background-color: #F7D117;
    border: 1px solid #000;
    width: 200px;
    box-shadow: 5px 5px 5px #AAA;
  }

  .failed-login-count {
  }
}

.serious {

  .login-form {
    width: 300px;
    margin: 100px auto 100px;
    text-align: center;
  }

  .login-text {
    margin-bottom: 30px;

    img {
      width: 250px;
      height: 250px;
    }
  }

  button {
    margin-top: 10px;
  }

  .failed-login-count {
    margin-top: 20px;
    color: #D42E12;
    margin-left: -100px;
    margin-right: -100px;

    .badge {
      background-color: #D42E12;
      color: #000;
      padding: 5px 10px 7px;
      font-size: 18px;
      margin-top: 15px;
    }
  }
}

.logged-in {
  text-align: center;
  margin-top: 130px;
  font-size: 1.3rem;
}

.logged-in.serious {
  color: #FFF;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;

  button {
    min-width: 140px;
  }
}

.unauthorised-login {
  background-color: #D42E12;
  color: #000;
  width: 500px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  left: calc(50% - 250px);
  text-align: center;
  padding: 10px;
}

.team-text {
  color: #000;
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
}

.serious .team-text {
  color: #FFF;
}

.logged-in {

  .enter-code {
    margin-top: 50px;
  }

  .enter-code-input {
    width: 200px;
    margin: 0 auto;
  }
}

.submit-button {
  cursor: pointer;
  user-select: none;
}

.clue, .forensics-clue {
  margin: 20px auto;
}

.clue-inner, .forensics-clue-inner {
  display: inline-block;
  border-radius: 10px;
  color: #FFF;
  background-color: cornflowerblue;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 20px 8px;

  &.arrest {
    background-color: #D42E12;
  }

  &.warn {
    background-color: #FFC107;
    color: #000;
  }
}

.example {
  color: #777;
}

.logged-in {

  .enter-forensics {
    margin-top: 50px;

    .small-print {
      font-size: 14px;
      color: #666;
      margin-bottom: -5px;
    }
  }

  .enter-forensics-input {
    width: 900px;
    margin: 0 auto;
  }
}

.team-code {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  background-color: #000;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-card {
  color: #000;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  font-size: 20px;

  .smaller {
    font-size: 14px;
    text-transform: uppercase;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.video-overlay {
  width: 100%;
  background-color: #000;
  height: 236px;
  top: -4px;
  position: relative;
  z-index: 99999;
  opacity: 0.9;
  margin-top: -236px;
}

.padlock {
  position: relative;
  font-size: 10rem;
  color: #333;
  top: -10px;
  z-index: 999999;
}

.video-stuff {
  padding: 0 200px;
}

.video-name {
  margin-bottom: 10px;
  display: inline-block;

  &.locked {
    color: #777;
  }
}

.iframe-wrapper.locked {
  margin-top: -240px;
}

.clear-both {
  clear: both;
}

.logs-info {
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.anonymous-button-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.anonymous-button {
  position: absolute;
  top: -10px;
  min-width: 90px;
}

.alarm-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  color: #D42E12;
  text-align: center;
  padding-top: 300px;
  font-size: 72px;
  z-index: 99999999999999999999999999999;

  .arrest-small {
    font-size: 28px;
    position: relative;
    top: -60px;
  }
}

.smash-error {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #222;
  color: #D42E12;
  text-align: center;
  padding-top: 300px;
  font-size: 48px;
  z-index: 99999999999999999999999999999;

  .wrench {
    font-size: 72px;
    color: #FFF;
  }

  .engineer {
    color: #FFF;
    margin-top: 15px;
    font-size: 20px;
  }
}

.blur-penalty {
  display: inline-block;
  padding: 2px 20px 10px;
  background-color: brown;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
  border: 2px solid #FFF;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 10px;

  .interference-small {
    text-align: center;
    font-size: 12px;
    padding-bottom: 1px;
  }
}

.surveillance-button-wrapper {
  position: absolute;
  top: 70px;
  right: 20px;

  .surveillance-button {
    min-width: 140px;
  }
}

.surv-intro-wrapper {
  padding-top: 54px;

  .surv-intro {
    font-size: 14px;
    color: #999;
  }
}

.surv-wrapper {
  margin: 30px 100px 0;
}

.surv-info {
  background-color: black;
  border-radius: 5px;
  border: 2px solid #999;
}

.image-surv-wrapper {
  img {
    margin-top: -140px;
    margin-left: -60px;
    position: absolute;
    border-radius: 900px;
    border: 5px solid #000;
    width: 120px;
    height: 120px;
    background-color: #000;
  }
}

.annoying {
  position: relative;
}

.watch-button {
  cursor: pointer;
  padding: 5px 10px 7px;
  font-size: 1.5rem;
  color: #DDD;
}

.eye-gap {
  display: inline-block;
  width: 10px;
}

.click-target {
  font-size: 14px;
  color: #999;
}

.surveillance-header {
  color: #000;
  font-weight: bold;
  padding: 5px 20px 7px;
}

.surveillance-target {
  margin: 10px 20px 12px;
}

.surveillance-body {
  text-align: left;
  font-size: 14px;
  color: #999;
  margin: 20px 20px 22px;
  min-height: 280px;
}

.done-did {
  font-size: 2.5rem;
  color: green;
  text-align: center;
  margin-top: 14px;
  margin-bottom: -10px;
}

.sandwich-submit {
  cursor: pointer;
  user-select: none;

  &.disabled {
    opacity: 0.5;
  }
}

.sandwich-wrapper {
  margin-top: 15px;
  text-align: center;

  table {
    margin: 0 auto;

    td {
      padding: 0 20px;

      &.th {
        font-weight: bold;
      }
    }
  }
}

.question-wrapper {
  margin-top: 10px;
  margin-bottom: 13px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}

.arrest-me-wrapper {
  text-align: center;
  margin-top: 15px;

  .arrest-me {
    font-size: 18px;
    padding: 7px 20px 9px;
    color: #000;
    font-weight: bold;

    &:hover {
      color: #FFF;
    }
  }
}

.question-warning {
  text-align: center;

  i {
    font-size: 20px;
    color: #FFC107;
  }

  .question-warning-text {
    position: relative;
    top: -2px;
    margin-left: 2px;
    color: #FFC107;
  }
}

.question-counter {
  text-align: center;
  text-decoration: underline;
  margin-top: 15px;
  color: #FFF;
}

.challenge-quiz-submit {
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
  }
}

.fruit-for-me {
  font-size: 20px;
  padding-top: 8px;
}

.clicker-cool-button {
  margin: 25px auto 0;
  width: 100px;
  background-color: #CC0000;
  border: 2px solid #BBB;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 10px 7px;
  text-align: center;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.surv-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;

  grid-gap: 20px;
  color: #000;
  font-weight: bold;

  .user {
    border-radius: 5px;
    font-size: 14px;
    background-color: #000;
    border: 1px solid #222;

    &.active {
      border: 1px solid #FFF;
    }

    .header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      user-select: none;
      cursor: pointer;
    }

    .body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #000;
      color: #999;
      user-select: none;
      cursor: pointer;
    }
  }
}

.btn-clicker {
  position: relative;
  top: -4px;
}

.fruity {
  font-size: 24px;
  margin-top: 2px;
}

.photo-wrapper {
  position: absolute;
  top: 100px;
  left: 180px;
  padding: 20px;
  border-radius: 90px;
  background-color: #222;
  z-index: 9999;

  img {
    width: 140px;
    background-color: #111;
    height: 140px;
    border-radius: 90px;
    border: 5px solid #000;
  }
}

.sound-test {
  color: #FFF;
  position: absolute;
  top: 20px;
  left: 20px;

  button {
    position: relative;
    top: -2px;
    padding-top: 2px;
    padding-bottom: 3px;
  }
}

.wrong-code-count-warning {
  position: absolute;
  margin: 135px auto 0;
  width: 800px;
  color: #FFC107;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 400px);
  font-size: 18px;
  opacity: 0.9;

  i {
    font-size: 1.7rem;
    margin-right: 7px;
    position: relative;
    top: 1px;
  }
}
