<ng-container *ngIf="!team">

  <div class="team-selector">
    <div>Which team will be using this computer?</div>

    <button class="btn btn-red btn-color" (click)="setTeam('red')">Red</button>
    <button class="btn btn-green btn-color" (click)="setTeam('green')">Green</button>
    <button class="btn btn-blue btn-color" (click)="setTeam('blue')">Blue</button>
  </div>

</ng-container>

<ng-container *ngIf="team">

  <ng-container *ngIf="!user">

    <div class="funny-or-serious">
      <div class="input-group mb-3">
        <input type="checkbox" [ngModel]="isSian" (ngModelChange)="toggleLook()">
        <span class="toggle-look" (click)="toggleLook()">Toggle look</span>
      </div>
    </div>

    <div [ngClass]="isSian ? 'funny' : 'serious'">

      <div class="team-text" [style.color]="team">{{ team | titlecase }} Team HQ</div>

      <form class="login-form" [formGroup]="loginForm">

        <div class="login-text">
          <img *ngIf="isSian" src="/assets/sian-ap.gif">
          <img *ngIf="!isSian" src="/assets/dan-ap.png">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Password" formControlName="password">
        </div>

        <button *ngIf="isSian" type="submit" class="btn btn-warning" [disabled]="loginForm.invalid" (click)="login()">ENTER</button>
        <button *ngIf="!isSian" type="submit" class="btn btn-light" [disabled]="loginForm.invalid" (click)="login()">Login</button>

        <div *ngIf="failedLoginCount > 0" class="failed-login-count">
          <div>You have failed login {{ failedLoginCount }} times</div>
          <div *ngIf="failedLoginCount === 2" class="badge">If you fail to login again you will be arrested for a security breach</div>
        </div>

      </form>
    </div>

  </ng-container>

  <ng-container *ngIf="user">

    <ng-container *ngIf="user.team !== team">
      <div class="unauthorised-login">
        <div>Warning this login is unauthorised</div>
        <div>You are hacking into the {{ team }} teams computer</div>
        <div>You will be arrested if you do not logout within {{ unauthorisedTimer }} seconds</div>
      </div>
    </ng-container>

    <div class="logout-button">
      <button *ngIf="isSian" type="button" class="btn btn-warning" (click)="logout()">Logout</button>
      <button *ngIf="!isSian" type="button" class="btn btn-light" (click)="logout()">Logout</button>
    </div>

    <div class="logged-in" [ngClass]="isSian ? 'funny' : 'serious'">
      <div class="user-card" [style.backgroundColor]="user.team">
        <div>Agent ID = {{ user.agentId }}=</div>
        <div>Dept ID = {{ user.deptId.replace('-', ':') }}</div>
        <div>{{ user.career | titlecase }} {{ user.displayName }}</div>
        <div>{{ user.team | titlecase }} Team</div>
      </div>

      <div class="enter-code">
        Enter a 4 digit code
        <div class="enter-code-input">
          <div class="input-group mt-3">
            <input type="text" pattern="[0-9]{4}" maxlength="4" class="form-control" [(ngModel)]="code" placeholder="4 digit code" (keyup.enter)="submitCode()">
            <div class="input-group-append">
              <span (click)="submitCode()" class="input-group-text submit-button">Submit</span>
            </div>
          </div>
        </div>
      </div>

      <div [class.invisible]="!clue" class="clue">
        <div class="clue-inner" [class.arrest]="clue?.includes('ARREST')" [class.warn]="clue === 'Invalid code'">
          <span>&nbsp;&nbsp;&nbsp;{{ clue || 'empty' }}&nbsp;&nbsp;&nbsp;</span>
        </div>
      </div>

      <ng-container *ngIf="user.career === 'forensics'">

        <div class="enter-forensics">
          Describe the item you found and wish to put under the microscope <span class="example">e.g. cup, balloon, giraffe</span>
        </div>
        <div class="enter-forensics-input">
          <div class="input-group mt-3">
            <input type="text" class="form-control" [(ngModel)]="forensics" placeholder="Specimen" (keyup.enter)="submitForensics()">
            <div class="input-group-append">
              <span (click)="submitForensics()" class="input-group-text submit-button">Submit</span>
            </div>
          </div>
        </div>

        <div [class.invisible]="!forensicsClue" class="forensics-clue">
          <div class="forensics-clue-inner" [class.arrest]="forensicsClue?.includes('ARREST')" [class.warn]="forensicsClue?.startsWith('Could not extract')">
            <span>&nbsp;&nbsp;&nbsp;{{ forensicsClue }}&nbsp;&nbsp;&nbsp;</span>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="user.career === 'analyst'">

        <div class="video-stuff">
          <div class="grid">
            <ng-container *ngFor="let video of videos">
              <div>
                <div>
                  <span class="video-name" [class.locked]="video.locked">{{ video.name }}</span>
                  <ng-container *ngIf="video.locked">
                    <div class="padlock"><i class="fa fa-lock" aria-hidden="true"></i></div>
                  </ng-container>
                </div>
                <ng-container *ngIf="video.locked">
                  <div class="video-overlay"></div>
                  <!-- 560, 315 -->
                  <div class="iframe-wrapper locked">
                    <iframe width="420" height="236" [src]="video.url | safe" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </ng-container>
                <ng-container *ngIf="!video.locked">
                  <div class="iframe-wrapper">
                    <iframe width="420" height="236" [src]="video.url | safe" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>

      </ng-container>

    </div>

    <div class="clear-both"></div>

    <div class="team-code" [style.color]="team">{{ team }} Team Code is {{ teamCode }}</div>

  </ng-container>

</ng-container>
