.my-main-app.my-blur {
  // animation: blurry 2s infinite;
  filter: blur(3px);
  // filter: invert(100%);
}

html.my-blur {
  .logout-button {
    filter: blur(3px);
  }

  .team-code {
    filter: blur(3px);
  }
}

//@keyframes blurry {
//  0% {
//    filter: blur(3px);
//  }
//  50% {
//    filter: blur(5px);
//  }
//  100% {
//    filter: blur(3px);
//  }
//}

body {
  overflow-y: scroll;
  // height: 100%;
}

html.serious {
  body {
    background-color: #222;
  }

  .funny-or-serious {
    color: #FFF;
  }

  .team-selector {
    color: #FFF;
  }
}

html.silly {
  body {
    background-color: #FFF;
  }
}

html.show-smash {
  #container-wrapper {
    visibility: visible;
  }
}

html.show-smash-2 {
  .smash-error {
    visibility: visible;
  }
}

.smash-error {
  visibility: hidden;
}

#container-wrapper {
  visibility: hidden;
}

#container-wrapper {
  background-color: #222;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999999999999999;

  canvas {
    position: absolute;
    backface-visibility: hidden;
  }

  #container {
    position: absolute;
    width: 400px; // 768
    height: 581px; // 485
    left: 0;
    right: 0;
    top: -105px;
    bottom: 0;
    margin: auto;

    img {
      position: absolute;
      cursor: pointer;
    }
  }
}
